# Summary

Example on how to connect to the database and run queries.

# Initialize

In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(database='etldb',
                        user='airflow_etl',
                        host='localhost',
                        port=5432,
                        options=f'-c search_path=etl')
conn.autocommit = True


def run_query(sql, conn=conn, **read_sql_kwargs) -> pd.DataFrame:
    return pd.read_sql(sql, con=conn, **read_sql_kwargs)

# Run queries

In [3]:
run_query('SELECT COUNT(*) FROM airport_codes;')

   count
0  55075

# Cleanup

In [4]:
conn.close()